@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer utilities {
	.markdown-hygraph-lg-img {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		border-radius: 1rem;
		object-fit: cover;
	}
}
